<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
		<p>
			<% if message != nil %>
				Your guess is <%= message %>
			<% end %>
			<form>
				<input type="text" name="guess">
				<input type="submit" value="Guess!">
			</form>
			<% if message != nil %>
				The SECRET NUMBER is <%= random_num %>
			<% end %>
		</p>
	</body>
</html>