<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<style type="text/css">
			body {
				background: <%= colour %>;
			}
		</style>
	</head>
	<body>
		<p>
			Your guess is <%= message %>
			<form>
				<input type="text" name="guess">
				<input type="submit" value="Guess!">
			</form>
			<% if message == "Correct!" %>
				The SECRET NUMBER is <%= random_num %>
			<% end %>
		</p>
	</body>
</html>