<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<p><%= secret_message %></p>
	<p>
		<form>
			<input type="text" name="guess">
			<input type="submit" value="Enter">
		</form>
	</p>
</body>
</html>