<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<p>This is some random message <%= number %> </p>
	<p>
		<form>
			<input type="text" name="secret">
			<input type="submit" value="Type a Message to Encrypt!">
		</form>
	</p>
</body>
</html>