<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<p>
		Type a message that you want to be encrypted
		<form>
			<input type="text" name="secret">
			<input type="submit" value="Enter">
		</form>
		The scrambled message is <%= secret_message %>
	</p>
</body>
</html>