* {
	margin: 0; padding: 0;
}

div.header {
	padding: 10px;
	top: 2px;
	font-family: Verdana;
	font-size: .84em;
	float: right;
	width: 280px;
}

.header a.gmail {
	margin: 10px;
	float: left;
	color: gray;
	text-decoration: none;
}

.header a.images {
	margin: 10px;
	width: 50px;
	float: left;
	color: gray;
	text-decoration: none;
}

.header .bellouter {
	margin: 6px 8px 8px 8px;
	float: left;
}

img.bell {
	width: 30px;
	height: auto;
}

.header .signin {
	margin: 6px 8px 8px 10px;
	width: 70px;
	height: 30px;
	color: white;
	background-color: #4387fd;
	border-color: #4387fd;
	float: left;
}


.header a.gmail:hover {
	text-decoration: underline;
}

.header a.images:hover {
	text-decoration: underline;
}

.header .signin:hover {
	text-decoration: underline;
}

div.box {
	position: absolute;
	top: 25%;
	left: 50%;
	margin-top: auto;
	transform: translate(-50%,-50%);
}

div.box2 {
	position: absolute;
	vertical-align: middle
	width: auto;
	height: auto;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.box2 .search {
	position: relative;
	top: 0; 
	left: 0;
	width: 500px;
	height: 44px;
}

.box2 a img.mic {
	position: absolute;
	top: 15%;
	right: 0;
	width: 35px;
	height: auto;
}

.box3 {
	height: auto;
	width: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.box3 .lbutton {
	background-color: #e0e0e0; 
	padding: 15px;
}

.box3 .rbutton {
	background-color: #e0e0e0;
	padding: 15px;
}

.box4 {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.logo {
	width: 400px;
	height: auto;
}

div.footer {
	width: 100%;
	height: 2.9em;
	margin: 10px 10px 0 0;
	position: fixed;
	bottom: 0;
	background-color: #e0e0e0;
}

.footer .b12 {
	margin-top: 11px;
}

.footer .block1 {

}

.footer .block2 {
	float: right;
	margin-right: 10px;
}

.footer .block1 .advertising {
	margin-left: 10px;
	font-size: 1em;
	font-family: Verdana;
	color: gray;
	text-decoration: none;
}

.footer .block1 .business {
	margin-left: 10px;
	font-size: 1em;
	font-family: Verdana;
	color: gray;
	text-decoration: none;
}

.footer .block1 .about {
	margin-left: 10px;
	font-size: 1em;
	font-family: Verdana;
	color: gray;
	text-decoration: none;
}

.footer .block2 .privacy {
	margin-right: 10px;
	font-size: 1em;
	font-family: Verdana;
	color: gray;
	text-decoration: none;
}

.footer .block2 .terms {
	margin-right: 10px;
	font-size: 1em;
	font-family: Verdana;
	color: gray;
	text-decoration: none;
}

.footer .block2 .settings {
	margin-right: 2px;
	font-size: 1em;
	font-family: Verdana;
	color: gray;
	text-decoration: none;
}

.footer .block1 .advertising:hover {
	text-decoration: underline;
}

.footer .block1 .business:hover {
	text-decoration: underline;
}

.footer .block1 .about:hover {
	text-decoration: underline;
}

.footer .block2 .privacy:hover {
	text-decoration: underline;
}

.footer .block2 .terms:hover {
	text-decoration: underline;
}

.footer .block2 .settings:hover {
	text-decoration: underline;
}