* {
	margin: 0; padding: 0;
}

div.logo {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: auto;
	transform: translate(-50%,-50%);
}


div.header {
	padding: 10px;
	top: 2px;
	font-family: Verdana;
	float: right;
}

.header .gmail {
	margin: 2px;
}

.header .images {
	margin: 2px;
}

.header .grid {
	margin: 2px;
}

.header .signin {
	margin: 2px;
	width: 70px;
	height: 30px;
	color: white;
	background-color: #4387fd;
	border-color: #4387fd;
}


